<div class="page-header">
  <h1>Пример заголовка страницы <small>Дополнительный текст</small></h1>
</div>
<div class="jumbotron">
  <h1>Привет, мир!</h1>
  <p>..Jumbotron
Легкий, гибкий компонент, который можно расширять на весь экран, чтобы продемонстрировать ключевой содержимое вашего сайта..</p>
  <p><a class="btn btn-primary btn-lg" role="button">Узнать больше</a></p>
</div>

<%= link_to 'Назад', root_path,class:"btn btn-dark" %>
<ul class="pagination">

  <li><a href="#">&laquo;</a></li>
  <li><a href="#">1|</a></li>
  <li><a href="#">2|</a></li>
  <li><a href="#">3|</a></li>
  <li><a href="#">4|</a></li>
  <li><a href="#">5|</a></li>
  <li><a href="#">&raquo;</a></li>
</ul>
<p>
  <%= @hello %><%= @time%>
</p>
